<div *ngFor="let data of jsonData">
    <div>
        <p>
            <b>{{data.name}}</b>
        </p>
        <p>
            <i>{{data.text}}</i>
        </p>
        <div *ngIf="data.replies.length>= 0">
            <div *ngFor="let reply of data.replies" style="margin-left: 8px;">
                <p>
                    <b>{{reply.name}}</b>
                </p>
                <p>
                    <i>{{reply.text}}</i>
                </p>
                <app-reply [recursiveData] = "reply"></app-reply>
            </div>
        </div>
    </div>
    <hr>
</div>